html,
body {
  height: 100%;
  margin: 0;
}

body::selection {
  background-color: transparent;
}

main {
  display: grid;
  place-items: center;
  position: relative;
  height: 100vh;
  background-color: hsl(216, 13%, 30%);
}

.image {
  width: 300px;
  cursor: pointer;
}

.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: auto;
  z-index: 1000;
  cursor: default;
}

@media (max-width: 480px) {
  .active {
    width: 100vw;
    height: auto;
  }
}

#close-btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  color: black;
  border: none;
  outline: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
